.container{
	width: 120px;
	height: 120px;
	margin: 20px auto;
}
.satu, .dua{
	width: 100px;
	height: 100px;
}
.satu{
	background-color: green;
	box-shadow: 10px 15px 1px 5px black;
	border:solid;
	border-image-source: url(hearts.png);
    border-image-repeat: round;
    border-image-width: 15px;
    border-image-slice: 20 22;
    border-image-outset: 15px;
}
.dua{
	margin-top: 20px;
	background-color: blue;
	box-shadow: 5px 5px 10px 2px grey;
	border:solid;
	border-image-source: url(border1.png);
    border-image-repeat: round;
    border-image-width: 20px;
    border-image-slice: 33%;
    border-image-outset: 15px;
}