body{
	margin: 0px;
	padding: 0px;
}
header{
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}
ul{
	padding: 0px;
}
ul li{
	display: inline;
	padding:0 10px;
}
a{
	text-decoration: none;
	color: white;
	font-size: 1.4em;
}
a:hover{
	color: grey;
}
.pembungkus{
	padding: 10px;
	column-count: 4;
	/*column-fill: balance;
	column-width: 279px;*/
	column-rule: 1px double black;
	column-gap: 20px;
}
.judul, .batas{
	column-span: all;
}
p{
	margin-top: 0px;
	text-align: justify;
}
.batas{
	height: 50px;
	width: 100%;
}
.footer{
	text-align: center;
}