body{
	margin: 0px;
	padding: 0px;
}
header{
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
}
ul{
	padding: 0px;
}
ul li{
	display: inline;
	padding:0 10px;
}
a{
	text-decoration: none;
	color: white;
	font-size: 1.4em;
}
a:hover{
	color: grey;
}
.footer{
	background-color: black;
	color: white;
	text-align: center;
	padding-bottom: 1px;
}
h2{
	margin-top: 0px;
}
main{
	width: 100%;
	height: 100%;
	background: radial-gradient(circle at bottom right, white, skyblue);
}
.image{
	position: absolute;
	height: 300px;
	margin: 20px;
}
.slider{
	padding: 20px;
}
.slider-img{
	width: 100%;
	height: 500px;
}
.p-text{
	text-align: justify;
	margin-left: 300px;
	margin-bottom: 0px;
	padding-bottom: 20px;
	padding-right: 20px;
	column-count: 4;
	column-rule: 1px double black;
}