body{
	background-image: url('img/Stupa_Borobudur.jpg');
	background-size: cover;
	background-attachment: fixed;
}
p{
	color: blue;
	text-align: right;
}
.satu{
	width: 500px;
	height: 300px;
	background-image: url('img/avocado.jpg');
	background-repeat: repeat-y;
	background-color: white;
	border: 2px solid black;
	overflow: scroll;
	font-weight: bold;
}
.dua{
	color: green;
	text-align: left;
}
.tiga{
	color: red;
	text-align: center;
}