body{
	margin: 0px;
	padding: 0px;
}
.container{
	background-color: #ecf0f1;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.container2{
	width: 100px;
	height: 200px;
	background-color: #ecf0f1;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.container2 div {
	padding: 25px;
	width: 50px;
}

.box {
	padding: 30px;
	color: white;
	font-family: Poppins, "Helvetica Neue", arial, sans-serif;
	font-size: 1.5em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	text-align: center;
	width: 150px;
}
.box1 {
	background-color: #1dd0ad;
	/*order: 5;*/
}
.box2 {
	background-color: #2fcc72;
	/*order: 7;*/
}
.box3 {
	background-color: #3498db;
	/*order: 8;*/
}
.box4 {
	background-color: #9b59b6;
	/*order: 9;*/
}
.box5 {
	background-color: #34495e;
	/*order: 10;*/
}
.box6 {
	background-color: #f1c40f;
	/*order: 1;*/
}
.box7 {
	background-color: #e67e22;
	/*order: 6;*/
}
.box8 {
	background-color: #e74c3c;
	/*order: 2;*/
}
.box9 {
	background-color: #95a5a6;
	/*order: 3;*/
}
.box10 {
	background-color: #7f8c8d;
	/*order: 4;*/
}