body{
	margin: 0px;
	padding: 0px;
}
.pembungkus{
	width: 100%;
	height: 100vh;
	background: radial-gradient(circle at top right, white, red);
	background-repeat: no-repeat;
}

.satu{
	width: 500px;
	height: 300px;
	margin: 0 auto;
	background: radial-gradient(circle at bottom center, white, blue);
}
.dua{
	width: 500px;
	height: 250px;
	margin: 0 auto;
	background: radial-gradient(farthest-side circle at 5% 60%, white, blue, white);
}