.div_menu{
	background-color: black;
}
.menu{
	color: white;
	font-size: 1.2em;
	text-transform: uppercase;
}
footer{
	background-color: black;
	color: white;
	text-align: center;
}
.footer-alamat{
	font-size: 0.9em;
}
p{
	text-align: justify;
}