.container{
	height: 180px;
	display: flex;
	align-items: flex-start;
}
.box {
	padding: 30px;
	color: white;
	font-family: Poppins, "Helvetica Neue", arial, sans-serif;
	font-size: 1.5em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	text-align: center;
	width: 200px;
	height: 50px;
}
.box1 {
	background-color: #1dd0ad;
	margin-top: 50px;
	/*align-self: flex-end; */
}
.box2 {
	background-color: #2fcc72;

}
.box3 {
	background-color: #3498db;
	/*align-self: flex-end; */
	margin-top: 50px;

}
.box4 {
	background-color: #9b59b6;

}
.box5 {
	background-color: #34495e;
	/*align-self: flex-end; */
	margin-top: 50px;
}
.box6 {
	background-color: #f1c40f;

}
.box7 {
	background-color: #e67e22;
	/*align-self: flex-end; */
	margin-top: 50px;
}
.box8 {
	background-color: #e74c3c;

}
.box9 {
	background-color: #95a5a6;
	/*align-self: flex-end; */
	margin-top: 50px;
}
.box10 {
	background-color: #7f8c8d;
}

