p{
	background-color: grey;
}
.p_pertama{
	background-color: orange;
}
.p_kedua{
	background-color: blue;
	color: white;
}
.p_ketiga{
	border: 1px solid grey;
	background-color: white;
	font-family: verdana;
	font-size: 1.1em;
}
.p_keempat{
	font-weight: bold;
	font-size: 1.1em;
}