body{
	margin: 0;
	padding: 0;
}
img{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
}
div div{
	background-color: white;
	width: 900px;
	height: 650px;
	z-index: 1;
	text-align: right;
	float: right;
	margin: 10px;
	padding: 10px;
	font-weight: bold;
}