body{
background-image: url('img/Stupa_Borobudur.jpg');
background-size: cover;
background-attachment: fixed;
}
.justify{
	padding-top: 20px;
	text-align: justify;
	background-image: url('img/avocado.jpg');
	background-repeat: repeat;
	width: 700px;
	height: 450px;
	border: 4px solid red;
	margin: 0 auto;
}
.repeat{
	background-image: url('img/avocado.jpg');
	background-repeat: repeat-x;
	width: 700px;
	height: 450px;
	border: 4px solid red;
	margin: 0 auto;
}